html
  head
    title=title
    link(href='/stylesheet/bootstrap.min.css', rel='stylesheet')
    body
      div.container

        div.page-header
          h1 Registrar Cuenta

        form.registrar-form.form-horizontal(method='post', role='form')
          input(name='_csrf',type='hidden',value=csrfToken)
          div.form-group
            label.col-sm-4 Usuario
            div.col-sm-8
              input.form-control(
                placeholder='Ingresa tu nombre de usuario',
                required=true,
                name='user',
                type='text',
                value=user
              )

          div.form-group
            label.col-sm-4 Password
            div.col-sm-8
              input.form-control(
                placeholder='Ingresa tu password',
                required=true,
                name='password',
                type='text',
                value=password

              )

          div.form-group
            label.col-sm-4 Nombre Completo
            div.col-sm-8
              input.form-control(
                placeholder='Ingresa tu nombre completo',
                required=true,
                name='nombre',
                type='text',
                value=nombre
              )


          div.form-group
            label.col-sm-4 C.I
            div.col-sm-8
              input.form-control(
                placeholder='Ingresa tu carnet de identidad',
                required=true,
                name='ci',
                type='text',
                value=ci
              )


          div.form-group
            label.col-sm-4 Correo Electronico
            div.col-sm-8
              input.form-control(
                placeholder='Ingresa tu correo electronico',
                required=true,
                name='email',
                type='text',
                value=email
              )


          div.form-group
            div.col-sm-offset-4.col-sm-8
              button.registrar.btn.btn-primary(type='submit') Registrar
          div.pull-right
            a(href="/") Ir a pagina de inicio
